body {
    background-color: black;
    text-align: center;
}

Img {
    width: 500px;
    height: 250px;
    padding: 5px;
    margin: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
}

a {
    color: white;
}

#enzo {
    text-align: left;
    position: fixed;
}